.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
  border-radius: 20px;
  margin-top: 40px;
  display: inline-block;
  margin-right: 50px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.img-card {
  width: 100%;
  border-radius: 20px;
}

.padding-card {
  padding: 10px;
}

@media only screen and (max-width: 1095px) {
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 20px;
    margin-top: 40px;
    display: inline-block;
    margin-right: 40px;
  }
}

@media only screen and (max-width: 895px) {
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 28%;
    border-radius: 20px;
    margin-top: 40px;
    display: inline-block;
    margin-right: 40px;
  }
}

@media only screen and (max-width: 844px) {
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 27%;
    border-radius: 20px;
    margin-top: 40px;
    display: inline-block;
    margin-right: 40px;
  }
}

@media only screen and (max-width: 726px) {
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 27%;
    border-radius: 20px;
    margin-top: 40px;
    display: inline-block;
    margin-right: 28px;
  }
}

@media only screen and (max-width: 586px) {
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 20px;
    margin-top: 40px;
    display: inline-block;
    margin-right: 48px;
  }
}

@media only screen and (max-width: 575px) {
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 20px;
    margin-top: 40px;
    display: inline-block;
    margin-right: 35px;
  }
}

@media only screen and (max-width: 445px) {
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 70%;
    border-radius: 20px;
    margin-top: 40px;
    display: block;
    margin-left: 55px;
    margin-bottom: 20px;
  }
}
