.container-banner {
  display: grid;
  grid-template-columns: 50% auto;
  background-color: #00b3ff;
  padding-left: 70px;
  padding-right: 10px;
  padding-top: 50px;
  padding-bottom: 20px;
  overflow: hidden;
}

.img-banner {
  width: 60%;
  justify-self: center;
}

#content-banner {
  margin-top: 60px;
  padding-right: 100px;
}

.title-banner {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.genre-banner {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin-top: 20px;
}

.desc-banner {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-weight: 500;
}

.date-banner {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  font-size: 13px;
  font-weight: 500;
  margin-top: 30px;
}

.button-banner {
  margin-top: 20px;
  border: none;
  background-color: #ecb51e;
  color: white;
  font-weight: 700;
  padding: 9px;
  width: 200px;
  border-radius: 20px;
}

@media only screen and (max-width: 1311px) {
  #content-banner {
    margin-top: 10px;
    padding-right: 100px;
  }
}

@media only screen and (max-width: 1100px) {
  .container-banner {
    display: grid;
    grid-template-columns: 50% auto;
    background-color: #00b3ff;
    padding-left: 70px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    overflow: hidden;
  }

  .title-banner {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

  .genre-banner {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
  }

  .desc-banner {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    font-size: 15px;
    font-weight: 500;
  }

  .date-banner {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    font-size: 13px;
    font-weight: 500;
    margin-top: 10px;
  }

  .button-banner {
    margin-top: 10px;
    border: none;
    background-color: rgb(236, 181, 30);
    color: white;
    font-weight: 700;
    padding: 9px;
    width: 200px;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 1014px) {
  #content-banner {
    margin-top: 10px;
    padding-right: 0px;
  }
}

@media only screen and (max-width: 920px) {
  #content-banner {
    margin-top: 50px;
    padding-right: 50px;
  }
  .img-banner {
    margin-top: 40px;
    width: 80%;
    justify-self: center;
  }
}

@media only screen and (max-width: 839px) {
  #content-banner {
    margin-top: 30px;
    padding-right: 10px;
  }
  .img-banner {
    margin-top: 40px;
    width: 80%;
    justify-self: center;
  }
}

@media only screen and (max-width: 741px) {
  #content-banner {
    margin-top: 10px;
    padding-right: 40px;
  }
  .img-banner {
    margin-top: 40px;
    width: 90%;
    justify-self: center;
  }
}

@media only screen and (max-width: 610px) {
  .img-banner {
    margin-top: 80px;
    width: 90%;
    justify-self: center;
  }
}

@media only screen and (max-width: 507px) {
  .container-banner {
    display: grid;
    grid-template-columns: 50% auto;
    background-color: #00b3ff;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 20px;
    overflow: hidden;
  }

  .desc-banner {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    font-size: 13px;
    font-weight: 500;
  }

  .date-banner {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
  }

  .button-banner {
    margin-top: 5px;
    border: none;
    background-color: rgb(236, 181, 30);
    color: white;
    font-weight: 700;
    padding: 5px;
    width: 200px;
    border-radius: 20px;
  }

  /* #content-banner {
    margin-top: 60px;
    padding-right: 100px;
  } */
}
