ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2a282c;
  text-align: center;
  padding-left: 75px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

li {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
}

.navfavorite-left a {
  color: white;
  font-size: large;
  font-weight: 700;
  background-color: rgb(236, 181, 30);
  border-radius: 5px;
  padding: 10px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navfavorite-right {
  float: right;
}

.navfavorite-right a {
  color: white;
  font-size: large;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px;
}

li a:hover {
  color: #2b2b4b;
}

@media only screen and (max-width: 615px) {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    text-align: center;
    padding-left: 75px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 595px) {
  .navfavorite-right a {
    margin-left: 0px;
    color: #adbbc2;
    font-size: 14px;
    font-weight: 600;
  }
}

@media only screen and (max-width: 595px) {
  .navfavorite-right a {
    margin-left: 0px;
    color: #adbbc2;
    font-size: 14px;
    font-weight: 600;
  }
}

@media only screen and (max-width: 521px) {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    text-align: center;
    padding-left: 40px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .navfavorite-left a {
    color: white;
    font-size: medium;
    font-weight: 700;
    background-color: rgb(236, 181, 30);
    border-radius: 5px;
    padding: 8px;
    margin-top: 5px;
  }

  .navfavorite-right {
    float: left;
  }
}

/* @media only screen and (max-width: 476px) {
    .left a {
      color: white;
      font-size: large;
      font-weight: 700;
      background-color: rgb(236, 181, 30);
      border-radius: 5px;
      padding: 10px;
    }
  
    .right a {
      margin-left: 0px;
      color: #adbbc2;
      font-size: 14px;
      font-weight: 600;
    }
  }
  
  @media only screen and (max-width: 475px) {
    .left a {
      color: white;
      font-size: medium;
      font-weight: 700;
      background-color: rgb(236, 181, 30);
      border-radius: 5px;
      padding: 5px;
      margin-top: 8px;
    }
  } */
